* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  width: 100vw;
}
.fpart {
  height: 550px;
  width: 100%;
  background: #ffefea;
  position: relative;
}
header ul {
  display: flex;
  list-style: none;
}
li {
  font-size: 12px;
  padding-left: 15px;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
.h_img > img {
  height: 65px;
  width: 150px;
  margin-top: 9px;
}
button {
  height: 30px;
  width: 95px;
  border: none;
  border-radius: 4px;
  background: #f99b80;
  font-size: 12px;
  font-weight: 600;
}
button > a {
  color: #ffefea;
}

.m-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding-left: 70px;
}
.m-img > img {
  height: 390px;
  width: 390px;
  padding-left: 20px;
  object-fit: fit;
}
/* left content starts here  */
.left-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-left: 30px;
}
.fst {
  font-size: 60px;
}
.snd {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: grey;
}
.fst span {
  color: #f99b80;
}
.powered > img {
  width: 290px;
  height: 70px;
}
/* left content ends here  */
/* first page ends here  */

/* 2nd page starts here  */

.snd-m-continer {
  height: 100vh;
  width: 100%;
  background: #fff;
}
/* upper part starts here  */
.uppeer-part {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.top {
  font-size: 10px;
  padding-left: 120px;
}
.top > p {
  width: 75px;
  height: 25px;
  background: #f7f2f2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: pink;
}
.middle {
  font-size: 35px;
  font-weight: 800;
  padding-left: 30px;
}

.bottom {
  margin-top: 15px;
  font-size: 15px;
  color: gray;
}
span {
  color: gray;
  padding-left: 30px;
}
/* upper part ends here  */

/* lower part starts here  */
.lower-part {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  justify-content: center;
  align-items: center;
  padding-left: 120px;
  margin-top: 70px;
  margin-right: 130px;
}
/* first box starts here  */
.f-middle {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
.f-bottom {
  font-size: 15px;
  color: gray;
  text-align: center;
}
.f-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.f-top img {
  width: 55px;
  height: 50px;
  background: #b85c43;
  border-radius: 5px;
}
/* first box ends here  */
/* 2nd box starts here  */
.s-middle {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
.s-bottom {
  font-size: 15px;
  color: gray;
  margin-top: 5px;
  text-align: center;
}
.s-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.s-top img {
  width: 55px;
  height: 50px;
  background: #b85c43;
  border-radius: 5px;
}
/* 2nd box ends here  */
/* 3rd box starts here  */
.t-middle {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
.t-bottom {
  font-size: 15px;
  color: gray;
  margin-top: 5px;
  text-align: center;
}
.t-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.t-top img {
  width: 55px;
  height: 50px;
  background: #b85c43;
  border-radius: 5px;
}
/* 3rd box ends here  */
/* 4th box starts here  */
.f-middle {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
.f-bottom {
  font-size: 15px;
  color: gray;
  margin-top: 5px;
  text-align: center;
}
.f-top img {
  width: 55px;
  height: 50px;
  background: #b85c43;
  border-radius: 5px;
}
.f-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
/* 4th box ends here  */
